.button{
    background-color: orange;
    border:2px solid orange;
    box-shadow: none;
    color:black;
}
.button:hover{
    background-color: rgb(243, 166, 24);
    border: 2px solid rgb(230, 179, 84);
    box-shadow: none;
}

.button1{
    background-color: black;
    border:2px solid orange;
    box-shadow: none;
}
.button1:hover{
    background-color: black(243, 166, 24);
    border: 2px solid rgb(230, 179, 84);
    box-shadow: none;
}

.scroller{
    text-decoration: none;
    color:rgb(255, 136, 0);
    
}
.bold{
    font-weight:lighter;
    font-size: xx-large;
}


